*

*.cpp~
*.c~
*.h~

!libsysmount/
!libsysmount/*
!libsysmount/*.c
!libsysmount/*.h
!libsysmount/Makefile
!libsysmount/Makefile
libsysmount/*.c~
libsysmount/*.h~

Makefile~

!include/
!include/sys
!include/sys/mount.h

!/tests/
!/tests/*
!README.org
!.gitignore