*

*.cpp~
*.c~
*.h~

!libshouldbeinlibc
!libshouldbeinlibc/mount.c
!libshouldbeinlibc/mount.h
!libshouldbeinlibc/Makefile
!include/
!include/sys
!include/sys/mount.h

!/tests/
!/tests/*
!README.org
!.gitignore