*

*.cpp~
*.c~
*.h~

!libfshelp/
!libfshelp/mount.c
!libfshelp/sys
!libfshelp/sys/mount.h
!libfshelp/Makefile
libfshelp/Makefile~
libfshelp/*.c~
libfshelp/*.h~

Makefile~

!include/
!include/sys
!include/sys/mount.h

!/tests/
!/tests/*
!README.org
!.gitignore